/*
    Card Container Class Style

    - Remove extra padding on the left
    - Align all cards to center
    - Wrap all cads into a row in card container
    - 1rem gap between cards
*/
.card-container {
    display: flex;
    flex-wrap: wrap; 
    padding: 0;
    justify-content: center;
    gap: 1rem;
}

/*
    Card Class Style

    - Remove bullet points of ul tag
    - Allow cards to adjust width based on the available size within row
    - (flex-grow effect) Used for 1 Card
*/
.card {
    list-style-type: none;
    flex-grow: 1;
}

/*
    Tablet Style

    - Adjust cards to have at least 2 items per row
*/
@media (min-width: 768px) and (max-width: 1199px) {
    .card {
        flex-basis: calc(50% - 1rem); /* Adjust for gap */
    }
}

/*
    Desktop Style

    - Adjust cards to have at least 3 items per row
*/
@media (min-width: 1200px) {
    .card {
        flex-basis: calc(33.333% - 1rem); /* Adjust for gap */
    }
}
